{% extends "base.html" %}

{% block content %}

<h1 align="right">{{ title }}</h1><hr />
{% for item in news %}
    <div align="right">
        <div class="col-md6 border rounded" style="width: 70%">
            <div align="center">
                <a href="/{{ item['user'].id }}">{{ item['user'] }}</a>
                <span><b>{{item['news'].title}}</b></span><br />
                <p align="center">{{item['news'].created_date}}</p>
            </div>
            <div align="center">
                {% for line in item['news'].content.split("\n") %}
                    <i>{{ line }}</i><br />
                {% endfor %}
            </div>
            <div align="right">
                <a href="/news/{{ item['id'] }}" class="btn btn-warning">Просмотреть</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}