{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>
{% for item in chats %}
    <div class="col-md6 border rounded">
        <div align="left">
                <a href="/chats/{{ item['id'] }}">
                    {{ item['name'] }}
                </a>
            <br/>
            <p align="left">{{item['chat'].created_date}}</p>
        </div>
        <div align="right">
            <a href="/chats/{{ item['id']}}" class="btn btn-warning">Просмотреть</a>
            <a href="/chats/delete/{{ item['id'] }}" class="btn btn-danger">Очистить чат</a>
        </div>
    </div><br />
{% endfor %}

{% endblock %}