{% extends "base.html" %}

{% block content %}


<h1 align="center">{{ chat.get_name(session, current_user) }}</h1><br/>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>

{% for item in messages|reverse %}
    <div class="col-md6 border rounded" style="background-color: lightgray">
        {% set author = session.query(User).filter(User.id == item.user_id).first() %}

        <div align="{% if item.user_id == current_user.id %}right{% else %}left{% endif %}"><a href="/{{ item.user_id }}">{{ author.surname }} {{ author.name }}</a><br />
            <p>{{item.created_date}}</p>
        </div>
        <div align="center">
            {% for line in item.content.split("\n") %}
                <i>{{ line }}</i><br />
            {% endfor %}
        </div>
        {% if (chat.owner == current_user.id and chat.is_public) or item.user_id == current_user.id %}
            <div align="right">
                <a href="/chats/{{ chat.id }}/delete_message/{{ item.id }}" class="btn btn-danger">Удалить</a>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}