{% extends "base.html" %}

{% block content %}

<h1 align="center">{{ news.title }}</h1>
<div class="col-md6 border rounded">
    <div align="left"><a href="/{{ user.id }}">{{ user }}</a><br />
        <p align="left">{{news.created_date}}</p>
    </div>
    <div align="center">
        {% for line in news.content.split("\n") %}
            <i>{{ line }}</i><br />
        {% endfor %}
    </div>
</div>

{% if news.user == current_user %}
    <div align="right">
        <a href="/news/{{ news.id }}/edit" class="btn btn-warning">Редактировать</a>
        <a href="/news/{{ news.id }}/delete" class="btn btn-danger">Удалить</a>
    </div>
{% endif %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>

{% for item in comments %}
    <div class="col-md6 border rounded">
        {% set author = item['author'] %}
        <div align="left"><a href="/{{ item['comment'].user_id }}">{{ author.surname }} {{ author.name }}</a><br />
            <p align="left">{{item['comment'].created_date}}</p>
        </div>
        <div align="center">
            {% for line in item['comment'].content.split("\n") %}
                <i>{{ line }}</i><br />
            {% endfor %}
        </div>
        {% if item['comment'].user_id == current_user.id or news.user == current_user %}
            <div align="right">
                <a href="/news/{{ news.id }}/comments/delete/{{ item['id'] }}" class="btn btn-danger">Удалить</a>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}